<template>
    <v-card
        shaped
        class="recipe__item"
    >

        <v-app-bar
                flat
                color="rgba(0, 0, 0, 0)"
        >
            <v-toolbar-title class="title pl-0">
                {{recipe.title}}
            </v-toolbar-title>

            <v-spacer></v-spacer>

            <v-btn
                icon
                @click="closeRecipe()"
            >
                <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-app-bar>

        <v-card-text class="recipe__item__description">
            <v-row>
                <v-col cols="12" sm="12" md="6" lg="4">
                    <v-card flat dark color="rgb(108,159,224)">
                        <div class="recipe__item__image-container">
                            <img
                                    src="@/assets/shower.jpg"
                                    style="max-width: 100%;"
                            />
                        </div>
                        <v-card-title class="headline">
                            Shower for &nbsp;
                            <countTo style="padding: 0 6px" :startVal='0' :endVal='litresToShower(recipe.totalFreshwater)' :duration='3000'></countTo>
                            &nbsp; minutes.
                        </v-card-title>

                        <v-card-subtitle>
                            Instead of cooking this recipe, you could shower for {{ litresToShower(recipe.totalFreshwater) }} minutes.
                        </v-card-subtitle>
                        <v-card-actions>
                            <v-dialog
                                v-model="freshwaterModal"
                                max-width="600px"
                            >
                                <template v-slot:activator="{on, attrs}">
                                    <v-btn
                                            text
                                            v-bind="attrs"
                                            v-on="on"
                                    >
                                        <v-icon>mdi-arrow-right</v-icon>
                                        View ingredient breakdown
                                    </v-btn>
                                </template>

                                <v-card>
                                    <v-card-title>
                                        Freshwater usage ingredient breakdown
                                    </v-card-title>
                                    <v-card-subtitle>
                                        <b>Total: {{recipe.totalFreshwater}} litres of water</b>
                                    </v-card-subtitle>
                                    <v-card-text>
                                        <pie-chart
                                                :chart-data="freshwaterData"
                                                :options="freshwaterChartOptions"
                                        ></pie-chart>
                                    </v-card-text>
                                </v-card>
                            </v-dialog>
                        </v-card-actions>
                    </v-card>
                </v-col>


                <v-col cols="12" sm="12" md="6" lg="4">
                    <v-card flat dark color="#FABC4D">
                        <div class="recipe__item__image-container-2">
                            <img
                                    src="@/assets/car.jpg"
                                    style="max-width: 100%;"
                            />
                        </div>
                        <v-card-title class="headline">
                            Drive for &nbsp;
                            <countTo style="padding: 0 6px" :startVal='0' :endVal='coToKilometres(recipe.totalEmissions)' :duration='3000'></countTo>
                            &nbsp; kilometres.
                        </v-card-title>

                        <v-card-subtitle>
                            Instead of cooking this recipe, you could drive a car for {{ coToKilometres(recipe.totalEmissions) }} kilometres.
                        </v-card-subtitle>
                        <v-card-actions>
                            <v-dialog
                                    v-model="emissionsModal"
                                    max-width="600px"
                            >
                                <template v-slot:activator="{on, attrs}">
                                    <v-btn
                                            text
                                            v-bind="attrs"
                                            v-on="on"
                                    >
                                        <v-icon>mdi-arrow-right</v-icon>
                                        View ingredient breakdown
                                    </v-btn>
                                </template>

                                <v-card>
                                    <v-card-title>
                                        CO2 emissions ingredient breakdown
                                    </v-card-title>
                                    <v-card-subtitle>
                                        <b>Total: {{recipe.totalEmissions}} kgs of CO2</b>
                                    </v-card-subtitle>
                                    <v-card-text>
                                        <pie-chart
                                                :chart-data="emissionsData"
                                                :options="emissionsChartOptions"
                                        ></pie-chart>
                                    </v-card-text>
                                </v-card>
                            </v-dialog>
                        </v-card-actions>
                    </v-card>
                </v-col>

                <v-col cols="12" sm="12" md="6" lg="4">
                    <v-card flat dark color="#F2635F">
                        <div class="recipe__item__image-container-3">
                            <img
                                    src="@/assets/pool.jpg"
                                    style="max-width: 100%;"
                            />
                        </div>
                        <v-card-title class="headline">
                            Fill {{ litresToPools(recipe.totalScarcewater) }} pool(s).
                        </v-card-title>

                        <v-card-subtitle>
                            When weighting the water usage by scarcity, you could fill {{ litresToPools(recipe.totalScarcewater) }} pools by not cooking this recipe.
                        </v-card-subtitle>
                        <v-card-actions>
                            <v-dialog
                                    v-model="scarcewaterModal"
                                    max-width="600px"
                            >
                                <template v-slot:activator="{on, attrs}">
                                    <v-btn
                                            text
                                            v-bind="attrs"
                                            v-on="on"
                                    >
                                        <v-icon>mdi-arrow-right</v-icon>
                                        View ingredient breakdown
                                    </v-btn>
                                </template>

                                <v-card>
                                    <v-card-title>
                                        Scarcity weighted water usage ingredient breakdown
                                    </v-card-title>
                                    <v-card-subtitle>
                                        <b>Total: {{recipe.totalScarcewater}} liter(s) of scarcity weighted water</b>
                                    </v-card-subtitle>
                                    <v-card-text>
                                        <pie-chart
                                                :chart-data="scarcewaterData"
                                                :options="freshwaterChartOptions"
                                        ></pie-chart>
                                    </v-card-text>
                                </v-card>
                            </v-dialog>
                        </v-card-actions>
                    </v-card>
                </v-col>


                <v-col cols="12" sm="8" lg="3" md="12">
                    <v-list dense>
                        <v-subheader>INGREDIENTS</v-subheader>
                        <v-list-item-group
                                color="primary"
                        >
                            <v-list-item
                                    v-for="(recipeIngredient, i) in recipe.RecipeIngredients"
                                    :key="i"
                            >
                                <template v-slot:default>
                                    <v-list-item-action>
                                        <v-checkbox></v-checkbox>
                                    </v-list-item-action>
                                    <v-list-item-content>
                                        <v-list-item-title>
                                            {{quantityToInt(recipeIngredient.qty)}} {{ recipeIngredientUnit(recipeIngredient).name }} {{ sentenceCase(recipeIngredient.Ingredient.name) }}
                                        </v-list-item-title>
                                        <v-list-item-subtitle
                                                class="ingredient_subtitle"
                                        >
                                            {{ sentenceCase(recipeIngredient.input) }}
                                        </v-list-item-subtitle>
                                    </v-list-item-content>
                                </template>
                            </v-list-item>
                        </v-list-item-group>
                    </v-list>
                </v-col>


                <v-col cols="12" sm="6" lg="8" md="8">
                    <v-list dense>
                        <v-subheader>STEPS</v-subheader>
                        <v-list-item-group
                                color="primary"
                        >
                            <v-list-item
                                    v-for="(step, i) in recipe.Steps"
                                    :key="i"
                            >
                                <v-list-item-action>
                                    <v-checkbox></v-checkbox>
                                </v-list-item-action>
                                <v-list-item-content>
                                    <v-list-item-title
                                            class="steps-title"
                                            v-text="step.name"
                                    ></v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list-item-group>
                    </v-list>
                </v-col>
            </v-row>
        </v-card-text>
    </v-card>
</template>

<script>
    import countTo from 'vue-count-to';
    import PieChart from "../charts/PieChart";
    import goldenColors from 'golden-colors';
    export default {
        name: "Recipe",
        components: {PieChart, countTo},
        props: {
            recipe: {
                type: Object,
                default: () => {}
            },
            closeRecipe: {
                type: Function,
                default: () => {}
            }
        },
        data() {
            return {
                freshwaterModal: false,
                scarcewaterModal: false,
                emissionsModal: false,
                freshwaterChartOptions: {
                    hoverBorderWidth: 20,
                    tooltips: {
                        callbacks: {
                            afterLabel: function() {
                                return 'liter(s)'
                            }
                        }
                    }
                },
                emissionsChartOptions: {
                    hoverBorderWidth: 20,
                    tooltips: {
                        callbacks: {
                            afterLabel: function() {
                                return 'kg(s)'
                            }
                        }
                    }
                }
            }
        },
        computed: {
            freshwaterData() {
                let reducedIngredients = this.reduceRecipeIngredients(this.recipe).filter((ingr) => ingr.totalFreshwater > 0);
                let labels = reducedIngredients.map((ingr) => this.sentenceCase(ingr.name));
                let data = reducedIngredients.map((ingr) => ingr.totalFreshwater);
                let colors = reducedIngredients.map((ingr, i) => this.selectColor(i));
                let chartData = {};
                chartData.labels = labels;
                chartData.hoverBorderWidth = 10;
                chartData.hoverBackgroundColor = "red";
                chartData.datasets = [
                    {
                        label: 'Freshwater usage',
                        data: data,
                        backgroundColor: colors
                    }
                ];
                return chartData;
            },
            scarcewaterData() {
                let reducedIngredients = this.reduceRecipeIngredients(this.recipe).filter((ingr) => ingr.totalScarcewater > 0);
                let labels = reducedIngredients.map((ingr) => this.sentenceCase(ingr.name));
                let data = reducedIngredients.map((ingr) => ingr.totalScarcewater);
                let colors = reducedIngredients.map((ingr, i) => this.selectColor(i));
                let chartData = {};
                chartData.labels = labels;
                chartData.hoverBorderWidth = 10;
                chartData.hoverBackgroundColor = "red";
                chartData.datasets = [
                    {
                        label: 'Scarce water usage',
                        data: data,
                        backgroundColor: colors
                    }
                ];
                return chartData;
            },
            emissionsData() {
                let reducedIngredients = this.reduceRecipeIngredients(this.recipe).filter((ingr) => ingr.totalEmissions > 0);
                let labels = reducedIngredients.map((ingr) => this.sentenceCase(ingr.name));
                let data = reducedIngredients.map((ingr) => ingr.totalEmissions);
                let colors = reducedIngredients.map((ingr, i) => this.selectColor(i));
                let chartData = {};
                chartData.labels = labels;
                chartData.hoverBorderWidth = 10;
                chartData.hoverBackgroundColor = "red";
                chartData.datasets = [
                    {
                        label: 'CO2 emissions',
                        data: data,
                        backgroundColor: colors
                    }
                ];
                return chartData;
            },
        },
        methods: {
            selectColor() {
                let color = goldenColors.getHsvGolden(0.3, 0.99);
                let colorsRgb = color.toRgb();
                return `rgba(${colorsRgb[0]}, ${colorsRgb[1]}, ${colorsRgb[2]}, 1)`
            },
            quantityToInt(string) {
                let converted = string;
                try {
                    converted = eval(string)
                } catch(error) {
                    return converted;
                }
                return converted;
            },
            litresToShower(litres) {
                return Math.round(litres / 9);
            },
            coToKilometres(kg) {
                return Math.round(kg * 1000 / 118);
            },
            litresToPools(litres) {
              return Math.round((litres / 68137)*10)/10;
            },
            recipeIngredientUnit(ingredient) {
              if (ingredient.Unit) {
                  return ingredient.Unit;
              }
              return {}
            },
            reduceRecipeIngredients(recipe) {
              let ingredients = [];
              recipe.RecipeIngredients.map((recipeIngredient) => {
                let existingIngredient = ingredients.find((ingredient) => ingredient.id === recipeIngredient.Ingredient.id);
                if (existingIngredient) {
                    existingIngredient.computedWeight += recipeIngredient.computedWeight;
                    existingIngredient.totalEmissions += recipeIngredient.totalEmissions;
                    existingIngredient.totalScarcewater += recipeIngredient.totalScarcewater;
                    existingIngredient.totalFreshwater += recipeIngredient.totalFreshwater;
                } else {
                    let ingredient = recipeIngredient.Ingredient;
                    ingredient.computedWeight = recipeIngredient.computedWeight;
                    ingredient.totalEmissions = recipeIngredient.totalEmissions;
                    ingredient.totalScarcewater = recipeIngredient.totalScarcewater;
                    ingredient.totalFreshwater = recipeIngredient.totalFreshwater;
                    ingredients.push(ingredient);
                }
              });
              return ingredients;
            },
            sentenceCase(string) {
                if (string && string.length > 0) {
                    var n=string.split(".");
                    var vfinal="";
                    for(let i=0;i<n.length;i++)
                    {
                        var spaceput=""
                        var spaceCount=n[i].replace(/^(\s*).*$/,"$1").length;
                        n[i]=n[i].replace(/^\s+/,"");
                        var newstring=n[i].charAt(n[i]).toUpperCase() + n[i].slice(1);
                        for(let j=0;j<spaceCount;j++)
                            spaceput=spaceput+" ";
                        vfinal=vfinal+spaceput+newstring+".";
                    }
                    vfinal=vfinal.substring(0, vfinal.length - 1);
                    return vfinal;
                }
            },
        }
    }
</script>

<style lang="scss">
    .steps-title, .ingredient_subtitle {
        white-space: initial;
    }


    .recipe__item__image-container {
        max-height: 150px;
        overflow: hidden;
        img {
            margin-top: -240px;
        }
    }

    .recipe__item__image-container-2 {
        max-height: 150px;
        overflow: hidden;
        img {
            margin-top: -40px;
        }
    }

    .recipe__item__image-container-3 {
        max-height: 150px;
        overflow: hidden;
    }
</style>