<template>
    <v-card
            shaped
            class="recipe__item"
    >
        <v-card-title class="recipe__item__header">
            {{recipe.title}}
        </v-card-title>
        <v-card-subtitle
                :class="{
                'red-color': recipe.sustainability === 'Polluting',
                'recipe__item__subheader': true
              }"
        >
            {{ recipe.RecipeIngredients.length }} Ingredients | {{ recipe.Steps.length }} Steps
        </v-card-subtitle>
        <v-card-text class="recipe__item__description">
            <v-timeline
                    align-top
                    dense
                    style="margin-left: -24px;"
            >
                <v-timeline-item
                        v-for="sustainable in sustainability"
                        :key="sustainable.key"
                        :color="getRightColor(recipe[sustainable.key], sustainable.key)"
                        small
                >
                    <div>
                        <div class="font-weight-normal">
                            <strong>{{ sustainable.name }}</strong>
                        </div>
                        <div>{{ Math.round(recipe[sustainable.key])  }} {{ sustainable.label }}</div>
                    </div>
                </v-timeline-item>
            </v-timeline>
        </v-card-text>

        <v-card-actions>
            <v-btn
                    color="deep-purple lighten-2"
                    text
                    @click="openRecipe(recipe.id)"
            >
                View Recipe
            </v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
    export default {
        name: "RecipeSummary",
        props: {
            recipe: {
                type: Object,
                default: () => {}
            },
            openRecipe: {
                type: Function,
                default: () => {}
            }
        },
        data() {
            return {
                sustainability: [
                    {
                        key: 'totalFreshwater',
                        name: 'Fresh water used',
                        color: 'red',
                        score: '3.421',
                        percentiles: [337.08366, 952.4],
                        label: 'Litres of fresh water used'
                    },
                    {
                        key: 'totalEmissions',
                        name: 'CO2 emitted',
                        color: 'orange',
                        score: '23,4',
                        percentiles: [2.30888, 5.228375],
                        label: 'kg of CO2 emitted'
                    }
                ],
                sustainableColors: ['red', 'green', 'orange'],
            }
        },
        methods: {
            getRightColor(value, type) {
                if(type === 'totalFreshwater') {
                    let percentiles = this.sustainability[0].percentiles;
                    if (value < percentiles[0]) {
                        return 'green';
                    } else if (value >= percentiles[0] && value < percentiles[1]) {
                        return 'orange'
                    } else {
                        return 'red'
                    }
                } else if (type === 'totalEmissions') {
                    let percentiles = this.sustainability[1].percentiles;
                    if (value < percentiles[0]) {
                        return 'green';
                    } else if (value >= percentiles[0] && value < percentiles[1]) {
                        return 'orange'
                    } else {
                        return 'red'
                    }
                }
            },
            randomFromArray(array) {
                return Math.floor(Math.random() * array.length);
            },
        }
    }
</script>

<style scoped>

</style>