<template>
  <div>
    <v-container fluid class="search__container">
      <v-row
              class="text-center"
              justify="center"
      >
        <v-col cols="12"  xs="12">
          <h1 class="search__header">Find Sustainable Recipes</h1>
        </v-col>
        <v-col cols="10" sm="4" md="4" lg="4">
          <v-text-field
                  v-model="search"
                  class="search__field"
                  label="Search"
                  outlined
                  color="#fff"
                  light
          ></v-text-field>
        </v-col>
      </v-row>
    </v-container>

    <v-container class="recipe__container">
      <v-row>
        <v-col cols="12" sm="4" md="4" lg="4">
          <v-row>
            <v-col cols="12">
              <h2 class="recipe__container__header text--black"
                  style="margin-bottom: 15px;"
              >Filter recipes</h2>
            </v-col>
          </v-row>
          <v-card>
            <v-card-text>
              <v-row>
                <v-col cols="12" ref="column">
                  <h3 class="search__filter__header">Number of steps</h3>
                  <HistogramSlider
                          v-if="flatRecipeSteps && flatRecipeSteps.length > 0"
                          :width="columnWidth"
                          :min="1"
                          :max="20"
                          :bar-height="75"
                          :data="flatRecipeSteps"
                          :clip="false"
                          :prettify="prettify"
                          :drag-interval="true"
                          :force-edges="false"
                          :handle-color="'#2ca452'"
                          :grid-text-color="'#000'"
                          :primary-color="'#2ca452'"
                          :label-color="'#2ca452'"
                          :update-bar-color="true"
                          @finish="updateSteps"
                  />
                </v-col>

                <v-col cols="12">
                  <h3 class="search__filter__header">Number of ingredients</h3>
                  <HistogramSlider
                          v-if="flatRecipeIngredients && flatRecipeIngredients.length > 0"
                          :width="columnWidth"
                          :min="1"
                          :max="35"
                          :bar-height="100"
                          :data="flatRecipeIngredients"
                          :clip="false"
                          :prettify="prettify"
                          :drag-interval="true"
                          :force-edges="false"
                          :handle-color="'#2ca452'"
                          :grid-text-color="'#fff'"
                          :primary-color="'#2ca452'"
                          :label-color="'#2ca452'"
                          @finish="updateIngredients"
                  />
                </v-col>

                <v-col cols="12">
                  <h3 class="search__filter__header">Litres of water</h3>
                  <HistogramSlider
                          v-if="flatRecipeWaters && flatRecipeWaters.length > 0"
                          :width="columnWidth"
                          :bar-height="100"
                          :max="5000"
                          :min="1"
                          :data="flatRecipeWaters"
                          :step="50"
                          :clip="false"
                          :prettify="prettify"
                          :drag-interval="true"
                          :force-edges="false"
                          :handle-color="'#2ca452'"
                          :grid-text-color="'#fff'"
                          :primary-color="'#2ca452'"
                          :label-color="'#2ca452'"
                          @finish="updateWaters"
                  />
                </v-col>

                <v-col cols="12">
                  <h3 class="search__filter__header">KG of CO2 emissions</h3>
                  <HistogramSlider
                          v-if="flatRecipeEmissions && flatRecipeEmissions.length > 0"
                          :width="columnWidth"
                          :bar-height="100"
                          :max="15"
                          :data="flatRecipeEmissions"
                          :clip="false"
                          :prettify="prettify"
                          :drag-interval="true"
                          :force-edges="false"
                          :handle-color="'#2ca452'"
                          :grid-text-color="'#fff'"
                          :primary-color="'#2ca452'"
                          :label-color="'#2ca452'"
                          @finish="updateEmissions"
                  />
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12" md="8" sm="8" lg="8">
          <v-row>
            <v-col cols="12">
              <h2 class="recipe__container__header text--black"
              >Recipes</h2>
            </v-col>
            <v-row v-if="!recipeIsOpen && recipes && recipes.length > 0">
              <v-col
                      :key="recipe.id"
                      v-for="recipe in recipes"
                      :cols="12"
                      sm="6"
                      lg="4"
                      md="4"
              >
                <RecipeSummary
                        :recipe="recipe"
                        :open-recipe="openRecipe"
                />
              </v-col>
            </v-row>
            <v-col v-if="recipeIsOpen && recipes && recipes.length > 0" cols="12">
              <Recipe
                      :recipe="openedRecipe"
                      :close-recipe="closeRecipe"
              />
            </v-col>
            <v-row v-if="!recipes || recipes.length === 0">
             <v-col cols="4" v-for="i in 9" :key="i">
              <v-skeleton-loader
                      type="article, image, actions"
              ></v-skeleton-loader>
            </v-col>
            </v-row>


          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
  import RecipeSummary from './Recipe/Summary';
  import Recipe from './Recipe';
  import {
    fuzzySearchRecipe,
    Recipes,
    RecipeSteps,
    RecipeIngredients,
    RecipeEmissions,
    RecipeWaters
  }  from '../graphql/Recipes.gql'
  import _ from 'lodash';

  export default {
    name: 'Main',
    components: {RecipeSummary, Recipe},
    data() {
      return {
        search: '',
        debounceSearch: '',
        recipeIsOpen: false,
        openedRecipe: {},
        page: 0,
        isMounted: false,
        stepsMin: 0,
        stepsMax: 1000,
        ingredientsMin: 0,
        ingredientsMax: 1000,
        watersMin: 0,
        watersMax: 1000000,
        emissionsMin: 0,
        emissionsMax: 1000000
      }
    },
    computed: {
      recipes() {
        return this.search.length > 0 ? this.search_recipe : this.Recipes;
      },
      columnWidth() {
        if (!this.isMounted)
          return 300;
        return this.$refs.column.offsetWidth - 24;
      },
      flatRecipeSteps() {
        return this.recipeSteps ? this.recipeSteps.map((step) => {
          return step['number_of_steps']
        }) : [];
      },
      flatRecipeWaters() {
        return this.recipeWaters ? this.recipeWaters.map((water) => {
          return water['totalFreshwater']
        }) : [];
      },
      flatRecipeEmissions() {
        return this.recipeEmissions ? this.recipeEmissions.map((emission) => {
          return emission['totalEmissions']
        }) : [];
      },
      flatRecipeIngredients() {
        return this.recipeIngredients ? this.recipeIngredients.map((step) => {
          return step['number_of_ingredients']
        }) : [];
      }
    },
    watch: {
      search: _.debounce(function(search) {
        this.debounceSearch = search;
      }, 500)
    },
    mounted() {
      this.isMounted = true;
    },
    apollo: {
      search_recipe: {
        query : fuzzySearchRecipe,
        variables () {
          return {
            search: this.debounceSearch,
            offset: this.page * 9,
            stepsMin: this.stepsMin,
            stepsMax: this.stepsMax,
            ingredientsMin: this.ingredientsMin,
            ingredientsMax: this.ingredientsMax,
            watersMin: this.watersMin,
            watersMax: this.watersMax,
            emissionsMin: this.emissionsMin,
            emissionsMax: this.emissionsMax
          }
        }
      },
      Recipes: {
        query: Recipes,
        variables () {
          return {
            offset: this.page * 9,
            stepsMin: this.stepsMin,
            stepsMax: this.stepsMax,
            ingredientsMin: this.ingredientsMin,
            ingredientsMax: this.ingredientsMax,
            watersMin: this.watersMin,
            watersMax: this.watersMax,
            emissionsMin: this.emissionsMin,
            emissionsMax: this.emissionsMax
          }
        }
      },
      recipeSteps: {
        query: RecipeSteps
      },
      recipeIngredients: {
        query: RecipeIngredients
      },
      recipeEmissions: {
        query: RecipeEmissions
      },
      recipeWaters: {
        query: RecipeWaters
      }
    },
    methods: {
      prettify(int) {
        return Math.round(int);
      },
      updateSteps(value) {
        this.stepsMin = value.from_pretty;
        this.stepsMax = value.to_pretty;
      },
      updateIngredients(value) {
        this.ingredientsMin = value.from_pretty;
        this.ingredientsMax = value.to_pretty;
      },
      updateWaters(value) {
        this.watersMin = value.from_pretty;
        this.watersMax = value.to_pretty;
      },
      updateEmissions(value) {
        this.emissionsMin = value.from_pretty;
        this.emissionsMax = value.to_pretty;
      },
      completeIngredients(recipeIngredients) {
        return recipeIngredients.filter((recipeIngredient) => {
          return recipeIngredient.Ingredient.name !== null;
        })
      },
      openRecipe(id) {
        this.recipeIsOpen = true;
        this.openedRecipe = this.recipes.find((recipe) => recipe.id === id);
      },
      closeRecipe() {
        this.recipeIsOpen = false;
        this.openedRecipe = {}
      }
    }
  }
</script>

<style lang="scss">
  .search {
    &__container {
        background-color: #2ecc71;
        padding: 80px 0 !important;
        position: relative;
        > * {
          position: relative;
          z-index: 5;
        }
        &:before {
          content: "";
          position: absolute;
          height: 100%;
          width: 100%;
          left: 0;
          top: 0;
          background-image: url('../assets/background.png');
          opacity: 0.1;
          background-repeat: repeat;
          background-size: 20%;
        }
     }
    &__header {
        color: white;
    }
    &__field {
      margin-top: 50px !important;
      margin-bottom: 50px !important;
      color: white !important;
      label, fieldset, input {
        color: white !important;
      }
    }
    &__filter {
      &__header {
        color: black;
        text-align: left;
        margin-bottom: 40px;
        margin-top: 10px;
        z-index: 6;
        position:relative;
      }
    }
  }

  .recipe {
    &__container {
      margin-top: -150px;
      &__header {
        position: relative;
        z-index: 6;
        color: white;
      }
    }
    &__item {
      height: 100%;
      &__image {
        max-height: 200px;
      }
      &__header {
        text-transform: capitalize;
      }
      &__subheader {
        font-weight: bold !important;
        &.red-color {
          color: red !important;
        }
      }
      &__description {
        &:first-letter{
          text-transform: capitalize
        }
      }
    }
  }
</style>